<ul>
  <li>
    <div>
      <img src="assets/images/home_FILL0_wght400_GRAD0_opsz48.png" alt="">
    </div>
    <p>Home</p>
  </li>
  <li>
    <div>
      <img src="assets/images/restaurant_menu_FILL0_wght400_GRAD0_opsz48.png" alt="">
    </div>
    Menu
  </li>
  <li>
    <div>
      <img src="assets/images/shopping_cart_FILL0_wght400_GRAD0_opsz48.png" alt="">
    </div>
    Cart
  </li>
  <li>
    <div>
      <img src="assets/images/person_FILL0_wght400_GRAD0_opsz48.png" alt="">
    </div>
    Profile
  </li>
</ul>
