<div class="row">
  <div class="col">
    <app-header [title]="'Menu'"></app-header>
  </div>
</div>

<div class="spacer"></div>

<div class="row">
  <div class="col">
    <h4>Our Food</h4>
    <h1>Special for you</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="input-group global-search">
      <div class="input-group-prepend">
        <i class="fa fa-search"></i>
      </div>
      <input type="text" class="form-control" placeholder="Search on Kupa">
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>&nbsp;</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-tabs>
      <app-tab tabTitle="All">
        <div class="tab-content">
          <ul class="food-item">
            <li>
              <img src="assets/images/food-items/food-item-1.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-2.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-3.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-4.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
          </ul>
          <div style="height: 100px;"></div>
        </div>
      </app-tab>
      <app-tab tabTitle="Featured">
        <div class="tab-content">
          <ul class="food-item">
            <li>
              <img src="assets/images/food-items/food-item-5.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-6.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-7.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-8.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
          </ul>
          <div style="height: 100px;"></div>
        </div>
      </app-tab>
      <app-tab tabTitle="Top of the week">
        <div class="tab-content">
          <ul class="food-item">
            <li>
              <img src="assets/images/food-items/food-item-9.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-10.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-11.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-12.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
          </ul>
          <div style="height: 100px;"></div>
        </div>
      </app-tab>
      <app-tab tabTitle="Soup">
        <div class="tab-content">
          <ul class="food-item">
            <li>
              <img src="assets/images/food-items/food-item-13.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-14.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-15.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-16.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
          </ul>
          <div style="height: 100px;"></div>
        </div>
      </app-tab>
      <app-tab tabTitle="Seafood">
        <div class="tab-content">
          <ul class="food-item">
            <li>
              <img src="assets/images/food-items/food-item-17.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-18.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-19.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
            <li>
              <img src="assets/images/food-items/food-item-20.jpg" alt="">
              <div class="food-name">Hongkong Hainen</div>
              <div class="food-price">$14.99</div>
              <div class="clear-fix"></div>
            </li>
          </ul>
          <div style="height: 100px;"></div>
        </div>
      </app-tab>
    </app-tabs>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-footer></app-footer>
  </div>
</div>


<!-- Popup for food details -->
<div class="row">
  <div class="col">
    <div class="popup">
      <div class="item-details">
        <div class="item-photo-holder">
          <div class="item-photo">
            <img src="assets/images/food-item.png" alt="">
          </div>
        </div>
        <div class="details">
          <h1>Japanese Hainanese Sashimi</h1>
          <h2>Japanese food</h2>
        </div>
        <p>&nbsp;</p>
        <div class="row">
          <div class="col">
            <span class="minus">-</span>
            <span class="count">1</span>
            <span class="plus">+</span>
            <span class="price">$39.99</span>
          </div>
        </div>
        <hr>
        <p></p>
        <div class="row">
          <div class="col">
            <h3>Sause</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Teriyaki</label>
                    </div>
                  </td>
                  <td style="width: 50px; text-align: center;">$0</td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                      <label class="form-check-label" for="flexCheckChecked">Yakiniku</label>
                    </div>
                  </td>
                  <td style="width: 50px; text-align: center;">$0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p></p>
        <!-- Topping panel -->
        <div class="row">
          <div class="col">
            <h3>Add a Topping?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Omelet</label>
                    </div>
                  </td>
                  <td style="width: 50px; text-align: center;">$2</td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                      <label class="form-check-label" for="flexCheckChecked">Sausage</label>
                    </div>
                  </td>
                  <td style="width: 50px; text-align: center;">$3</td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                      <label class="form-check-label" for="flexCheckChecked">Cheese</label>
                    </div>
                  </td>
                  <td style="width: 50px; text-align: center;">$5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btnCart">Add to Cart ($41.99)</button>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>

