<div class="location">
  <div class="row">
    <div class="col">
      <div class="sub-header">
        <ul>
          <li>
            <a href="" class="btnPrevious">
              <span class="material-symbols-outlined">arrow_right_alt</span>
            </a>
          </li>
          <li>
            <h3>Location</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="map-holder">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.255933214251!2d72.94916045118426!3d19.18402078696244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8fe01f3485d%3A0xada5a22795f3336a!2sR%20Mall!5e0!3m2!1sen!2sin!4v1673636410631!5m2!1sen!2sin" width="350" height="250" style="border:0; margin-left: 5px; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <p style="height: 80px;"></p>
  <!-- Address panel -->
  <div class="row">
    <div class="col">
      <h2>Detail Address</h2>
        <span class="material-symbols-outlined location">
          my_location
        </span>
    </div>
  </div>
  <div class="clear-fix"></div>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col">
      <div class="address">
        <div class="location-icon">
          <span class="material-symbols-outlined">
            pin_drop
          </span>
        </div>
        <div class="text">
          <h2 class="main-street">Utama street no. 20</h2>
          <p>
            Dumbo Street No. 20, Dumbo, New York, 10001, United States of America
          </p>
          <button type="button" class="btnChange">Change</button>
        </div>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <hr>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col">
      <h2 class="save-address">Save Address as</h2>
      <span class="address-pills active">Home</span>
      <span class="address-pills">Offices</span>
      <span class="address-pills">Others</span>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btnConfirm">Confirmation</button>
    </div>
  </div>
</div>
