<div class="container login-page">

  <div>
    <a href="" class="btnPrevious">
      <span class="material-symbols-outlined">arrow_right_alt</span>
    </a>
  </div>

  <h1>Forgot Password</h1>

  <h2>Select which contact details should we use to reset your password</h2>
  <br>

  <div class="row">
    <div class="col">
      <div class="action-type" [ngClass]="byEmail ? 'active' : '' " (click)="onCommunicationByEmail()">
        <div class="icon-holder">
          <mat-icon aria-label="Example icon-button with a heart icon">mark_email_unread</mat-icon>
        </div>
        <div class="text-holder">
          <p>Email</p>
          <div>Send to your email</div>
        </div>
        <div class="clear-fix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="action-type" [ngClass]="byPhone ? 'active' : '' " (click)="onCommunicationByPhone()">
        <div class="icon-holder">
          <mat-icon aria-label="Example icon-button with a heart icon">mark_email_unread</mat-icon>
        </div>
        <div class="text-holder">
          <p>Phone Number</p>
          <div>Send to your phone number</div>
        </div>
        <div class="clear-fix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-button class="btn btn-primary btn-login" (click)="onContinue()">Continue</button>
    </div>
  </div>
</div>
