.action-type {
  display: block;
  width: 100%;
  background-color: #EEE;
  border: none;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.action-type.active {
  border: 2px solid #307a59;
}

.action-type .icon-holder, .action-type .text-holder {
  display: block;
  float: left;
}

.action-type .icon-holder {
  width: 20%;
}

.action-type .text-holder {
  width: 80%;
  text-align: left;
}

.action-type .text-holder p {
  margin: 5px 0 0 0;
  font-weight: bold;
}

.action-type mat-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #CCC;
  text-align: center;
  padding-top: 12px;
}

.clear-fix {
  clear: both;
}
