<div class="container login-page">

  <div>
    <a href="" class="btnPrevious">
      <span class="material-symbols-outlined">arrow_right_alt</span>
    </a>
  </div>

  <div>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
  </div>

  <div class="row">
    <div class="col text-center">
      <img src="assets/images/celebration.jpg" alt="">
    </div>
  </div>
  <div>
    <p>&nbsp;</p><p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col text-center">
      <h1>Congratulation!</h1>
      <h2>Your account is complete, please enjoy the best menu from us</h2>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button mat-button class="btn btn-primary btn-login">Continue</button>
    </div>
  </div>

</div>
